[[constraint]]
  name = "code.cloudfoundry.org/cli"
  version = "6.34.1"

[[constraint]]
  name = "github.com/onsi/ginkgo"
  version = "1.4.0"

[[constraint]]
  name = "github.com/onsi/gomega"
  version = "1.3.0"

[prune]
  go-tests = true
  unused-packages = true
